.report-date-controls {
    width:75%;
}
#se_reports {
    text-align:center;
}
.module {
    text-align:left;
}
.module-header h3 {
    margin: 0px;

}
.datepicker input
{
    height:23px;
}

.module-table-text{
    vertical-align:middle !important;
    padding: 0 0 0 10px !important;
    border-bottom: 1px solid #C9C9C9 !important;
}
 